* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #222;
  color: #ddd;
  line-height: 1.6;
}

.cabecalho {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.cabecalho ul {
  list-style-type: none;
  padding: 0;
}

.cabecalho li {
  display: inline;
  margin-right: 20px;
}

.cabecalho .botao-header {
  background-color: #FFD700;
  color: #222;
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cabecalho .botao-header:hover {
  background-color: #333;
  color: #FFD700;
  transform: scale(1.05);
}

.caixa-lista {
  margin: 20px auto;
  max-width: 800px;
  background-color: #333;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #FFD700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #FFD700;
  border-radius: 8px;
  width: 80%;
  background-color: #555;
  color: #fff;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #FFD700;
  background-color: #444;
  outline: none;
}

button {
  padding: 12px 20px;
  background-color: #FFD700;
  color: #222;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #333;
  color: #FFD700;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ddd;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

li button {
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

li button:hover {
  transform: scale(1.2);
}
